In [9]:
import csv

In [11]:
with open('C:\sqlite3\intro.txt','r') as f:
    r=f.read()
    print(r)

hello i'm neel.
i'm from surat.
i want to be web developer.
i am big fan of hitman.
i'm 18 years old.
mine hobbies are cricket,kabaddi and pool.

In [12]:
a=['sid','sname','city','contact']

In [13]:
records=[[1,'raj','bharuch',9632591232],
         [2,'ved','bardoli',9785785429],
         [3,'om','surat',8485963218],
         [4,'ved','baroda',9863521478],
         [5,'trith','valod',9930452161]]
p=[]

In [14]:
for i in range(5):
    sid=int(input("enter student id:"))
    sname=input("enter student name:")
    city=input("enter student city:")
    contact=int(input("enter student contact number:"))
    l=[sid,sname,city,contact]
    p.append(l)

enter student id:1
enter student name:neel
enter student city:surat
enter student contact number:6523023014
enter student id:2
enter student name:keval
enter student city:bardoli
enter student contact number:4520320123
enter student id:3
enter student name:raj
enter student city:vyara
enter student contact number:4520320123
enter student id:4
enter student name:prem
enter student city:bharuch
enter student contact number:4563023012
enter student id:5
enter student name:harsh
enter student city:mumbai
enter student contact number:3203201236